aside {
  top: 0;
  bottom: 0;
  z-index: 10;
  position: fixed;
  width: 100%;
  max-width: 40rem;
  padding: 5vh 3vw;
  box-sizing: border-box;
  background: @color-bg;
}
aside:not(.active) { display: none; }

aside.right {
  right: 0;
  border-left: 1px solid @color-border;
}
aside:not(.right) { border-right: 1px solid @color-border; }
