.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -@padding-element @padding-element;
  align-items: flex-start;
  justify-content: space-between;

  &.ctr { align-items: center; }
  &.end { align-items: flex-end; }
}

.col {
  padding: @padding-element;
  flex: 1 0 100%;
  margin: @padding-element 0;

  &.wide { flex: 2; } 
  &.none { flex: none; }
}

@media @large-screen {
  .col {
    flex: 1;
    margin: 0 0 0 2%;
  }

  .row > :first-child { 
    margin-left: 0; 
  }
}
