/* morr.css
/* a starting point */

/* variables */
@font-body:    'Raleway', 'Arial', sans-serif;
@font-mono:    'Consolas', 'Monaco', 'Menlo', monospace;

@color-bg:      #ffffff;
@color-text:    #000000;
@color-nice:    #32a4f6;

@small-screen: ~"screen and (max-width: 599px)";
@large-screen: ~"screen and (min-width: 600px)";

@padding-element: 1rem;
@padding-section: 10vh 10vw;

@border-radius: 0.25rem;

/* generated variables */
@color-mute:    mix(@color-bg, @color-text, 50%);
@color-border:  mix(@color-bg, @color-text, 85%);

/* imported files */
@import 'base';
@import 'grid';
@import 'structure';
@import 'typography';
@import 'nav';
@import 'aside';
@import 'links';
@import 'forms';
@import 'lists';
@import 'code';
@import 'tables';
