header,
section,
footer {
  width: 100%;
  padding: 10vh 10vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

article { margin: 5rem 0; }

/* full height panel */
.panel { min-height: 100vh; }

/* container */
.container {
  width: 100%;
  margin: 0 auto;
}

/* accent panel */
.accent {
  color: @color-bg;
  background-color: @color-nice;

  a, a:hover { color: @color-bg; }

  & .btn,
  & .btn:hover,
  & button,
  & button:hover,
  & input[type="submit"],
  & input[type="submit"]:hover,
  & input[type="button"],
  & input[type="button"]:hover,
  & input[type="reset"],
  & input[type="reset"]:hover {
    color: @color-nice;
    border-color: @color-bg;
    background-color: @color-bg;
  }

  & .btn.otln,
  & button.otln,
  & input[type="submit"].otln,
  & input[type="button"].otln,
  & input[type="reset"].otln {
    background: transparent;
    color: @color-bg;
    border-color: @color-bg;
  }
}

/* utilities */
.fl-l { float: left; }
.fl-r { float: right; }
.d-ib { display: inline-block; }

/* width */
.w-20  { width: 20%; }
.w-40  { width: 40%; }
.w-50  { width: 50%; }
.w-60  { width: 60%; }
.w-80  { width: 80%; }
.w-100 { width: 100%; }
.w-mw  { max-width: 100%; }

/* padding */
.p-a { padding: @padding-element; }
.p-t { padding-top: @padding-element; }
.p-l { padding-left: @padding-element; }
.p-b { padding-bottom: @padding-element; }
.p-r { padding-right: @padding-element; }

/* margin */
.m-a { margin: @padding-element; }
.m-t { margin-top: @padding-element; }
.m-l { margin-left: @padding-element; }
.m-b { margin-bottom: @padding-element; }
.m-r { margin-right: @padding-element; }

/* border */
.dot { border-style: dotted; }
.b-a { border: 1px solid; }
.b-l { border-left: 1px solid; }
.b-t { border-top: 1px solid; }
.b-b { border-bottom: 1px solid; }
.b-r { border-right: 1px solid; }

/* positioning */
.abs {
  position: absolute;

  &.tl { top:    5vh;  left:  5vw; }
  &.tr { top:    5vh;  right: 5vw; }
  &.bl { bottom: 5vh;  left:  5vw; }
  &.br { bottom: 5vh;  right: 5vw; }
}

.mute { opacity: 0.6; }

/* responsive */
@media @small-screen {
  .h-sm { display: none; }
}

@media @large-screen {
  .h-lg { display: none; }
}
